* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

:root {
    --p-primary-color: #FF56A8;
    --p-primary-hover-color: #ff80c0;
}